Source: valijson
Priority: optional
Maintainer: Minjun Kim <mjkim@woowahan.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Section: libs
Homepage: https://github.com/tristanpenman/valijson

Package: libvalijson-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Header-only C++ library for JSON Schema validation
 Valijson is a header-only JSON Schema validation library for C++11.
 .
 Valijson provides a simple validation API that allows you to load JSON Schemas,
 and validate documents loaded by one of several supported parser libraries.
 .
 The goal of this project is to support validation of all constraints available
 in JSON Schema v7, while being competitive with the performance of a
 hand-written schema validator.

